.recommended {
  flex-basis: 30%;
}

.side-video-list {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  gap: 10px;
  img {
    flex-basis: 49%;
    width: 50px;
  }
}

.vid-info {
  flex-basis: 49%;
  h4 {
    font-size: 13px;
    margin-bottom: 10px;
  }
}

.vid-info p {
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .recommended {
    flex-basis: 100%;
  }
}
